body{
    margin: 0;
}

.aboutSection{
    padding-top: 100px;
    background: rgb(246, 246, 246);
    min-height: 135vh;
}

.studentsCount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count{
    font-size: 36px;
}

.studentsWord{
    font-size: 30px;
    font-weight: 200;
}

.icon{
    margin-right: 6px;
    color: green;
    width: 60px;
    height: 60px;
}

.studentsWrapper{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.145);
}

.heroTitle{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 40px 0px 20px 0px;
}

.heroTitle h1{
    font-size: 45px;
}

.heroTitle p{
    font-size: 28px;
}

.heroAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.heroHistory{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.heroMission{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.missionSector{
    display: flex;
    align-items: center;
}

.visionSector{
    display: flex;
    align-items: center;
}

.iconParagraph{
    margin-right: 15px;
    color: green;
    width: 64px;
    height: 64px;
}

.heroHistory h2{
    font-size: 34px;
}

.heroHistory p{
    font-size: 24px;
}

.heroMission h2{
    font-size: 34px;
}


.heroMission p{
    font-size: 24px;
}

.accreditation{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accreditationWrapper{
    background: white;
    padding: 16px 120px 44px 120px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.145);
}

.checkIcon{
    color: green;
    height: 54px;
    width: 54px;
}

.iconWrapper{
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accreditationWrapper h1{
    text-align: center;
    font-size: 42px;
}

.accreditationWrapper p{
    text-align: center;
    font-size: 22px;
}