*{
  padding: 0;
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
}

p{
    font-weight: 300;
}

.navLinks{
  padding-top: 15px;
}

.navLinks ul{
  display: flex;
  gap: 30px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul a{
  text-decoration: none;
  font-size: 18px;
  color: black;
}